body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
/* .container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */
div {
  display: flex;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;

  display: inline-block; /* footer hw3 excuses */
  margin-bottom: 16px;
}
.logo-dark {
  color: #2e2f42;
}
.logo-bright {
  color: #f4f4fd;
}
header li {
  list-style: none;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
/* .nav-list {
  margin-right: 32px;
} */
.address {
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}
.address a:hover {
  color: #404bbf;
}
.address a:focus {
  color: #404bbf;
}
a {
  text-decoration: none;
  color: inherit;
}
.distribution {
  background-color: #2e2f42;
  padding: 180px 0;
  text-align: center;
  color: #ffffff;
  padding: 188px 0;
}
.distribution-caption {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.distribution-button {
  font-size: 16px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
}
.distribution button:hover {
  background-color: #404bbf;
}
.distribution button:focus {
  background-color: #404bbf;
}
.goal {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.goal-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.goal-item {
  width: calc((100% - 72px) / 4);
}
.goal-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.goal-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-caption {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.picture-border {
  padding: 32px 0;
}
.team-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-header {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}
.portfolio-list-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.footer-p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
